.orderInfo{
    background-color: #E9ECEF!important;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 2.5em;
}
.specialPrice{
    color: #d01345!important;
    letter-spacing: .1rem;
    margin-right: .8rem;
}
.originalPrice{
    text-decoration: line-through;
    font-size: .8rem;
}
.QTYcontainer{
    width: 60%!important;
}
@media (max-width: 992px) {
    .QTYcontainer{
        width: 80%!important;
    }
}
@media (max-width: 400px) {
    .QTYcontainer{
        width: 100%!important;
    }
}
.cart-item {
    width: 50%;
    text-decoration: none;
    color: inherit;
}
.cart-item img{
    width: 100%;
    height: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}
.order-title{
    margin: 0!important;
}
.cleanAll-btn{
    display: inline-block;
    margin: 0;
}
.cleanAll-btn:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
}
.shop-more-btn{
    background-color: #6c63ff;
}
.shop-more-btn:hover {
    background-color: #5148d4;
}
.empty-bg{
    background-color: initial;
}
.empty-bg>div{
    padding: 1rem;
    padding-left: 0!important;
}
.empty-text{
    font-size: 1.2rem;
}
.cart-content{
    text-decoration: none!important;
}
.cart-content>p{
    color: white;
    margin: 0;
}
.clear-cart-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
@media (min-width: 768px){
    .subtotal{
        padding-left: 1.5rem;
    }
}
@media (max-width: 768px) {
    .subtotal{
        padding-top: 0!important;
        /* padding-left: 0!important; */
    }
}