.flying-animation {
    transition: transform 1.5s cubic-bezier(.25,.75,.5,1.25), 
                opacity 1.5s ease-in-out,
                width 1.5s ease-in-out, 
                height 1.5s ease-in-out; 
    pointer-events: none; /* prevent click event */
    border-radius: 8px;
    z-index: 9999;
}
.toast-product-title{
    font-weight: bold;
}
.toast-product-title::first-line {
    font-weight: bold;
    color: #d01345;
}
.Toastify__toast{
    letter-spacing: 0.5px;
    word-spacing: 0.2rem;
}