.filter{
  border-radius: 8px;
  border: 2px solid gray;
  padding: 10px;
  box-shadow: 6px 0 12px rgba(0, 0, 0, 0.2);
}
@media (max-width: 992px) {
    .filter{
        padding: 10px;
    }
}
.filter-title {
    font-weight: bold;
    padding: 10px 13px;
    letter-spacing: 1px;
}
.list-group{
    border: none;
}
.list-group-item{
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}
/* Highlight category when click */
.list-group-item.active-category {
    background-color: #e63946;
    color: #fff!important;
    font-weight: bold;
    border-radius: 10px;
}
/* Bdage amount */
.list-group-item.active-category .item-amount {
    background-color: #fff;
    color: #e63946;
}

.list-group-item:not(.active-category):hover .item-amount,
.list-group-item:not(.active-category):hover span {
    color: rgba(230, 57, 70, 0.9);
}
.list-group-item:last-child {
    border-bottom: none; /* Delete the last border line */
}
.item-amount{
    font-size: 0.9rem;
}
#filterAccordion{
    margin: 0 1rem;
}