  .footer-title {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .footer-link {
    color: white;
    text-decoration: none;
  }
  
  .footer-link:hover {
    text-decoration: underline;
    color: #ff9800;
    text-decoration: none;
  }
  
  .payment-icons {
    gap: 5px;
  }
  
  .payment-icon {
    width: 50px;
    height: auto;
    margin: 5px;
    transition: transform 0.3s ease;
  }
  
  .payment-icon:hover {
    transform: scale(1.1);
  }

  .contact-list .d-flex > a {
    font-size: 23px;
  }

  @media (max-width:768px) {
    .contact-list{
      text-align: center!important;
    }
    .contact-list .d-flex {
      justify-content: center;
    }
  }
 
  @media (max-width:768px) {
    .footer-container{
      border-bottom: 1.1px solid #fff;
    }
    .footer-title{
        margin-bottom: 1.3rem;
    }
    .footer-list>li{
        padding-bottom: 10px;
    }
  }