.loading-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}
.rli-text-format{
    margin-top: 15px!important;
}

/* Cart Button Loading Animations */
.cart-button i {
    margin-right: 9px;
}
.cart-button.active{
    background-color: rgba(0, 0, 0, 0.6);
}
.cart-button:disabled{
    cursor: wait;
    pointer-events: auto;
}
.cart-content{
    margin: 0;
    flex-shrink: 0;
}
.OP-dotted-rli-bounding-box{
    font-size: 4px!important;
    margin-right: 9px;
}