.card-title>a,.specialPrice3,.originalPrice3,.add_to_cart>button{
    font-family: 'Gloria Hallelujah', cursive;
}
.card-title>a{
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    color: black;
    font-weight: 500;
    padding-bottom: 0.3em;
}
.card-body{
    padding: 0.3em 0 0.5em 0.5em;
}
.card-title{
    font-size: 1.2em;
}
.card-price{
    font-size: 0.8em;
}
.item-amount{
    color: black;
}
.specialPrice3{
    color: #d01345!important;
    letter-spacing: .1rem;
    margin-right: .6rem;
    font-size: 1.3rem;
}
.originalPrice3{
    text-decoration: line-through;
    font-size: .8rem;
}
.product-card{
    border: none;
}
.promotion-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(230, 57, 70, 0.9);
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    padding: 4px 8px;
    gap: 5px;
    z-index: 10;
    display: flex;
    align-items: center;
}
.add_to_cart i{
    margin-right: 9px;
}
/* Image hover effect */
.image-container{
    overflow:hidden;
}
.product-image {
    object-fit: cover;
    object-position: center;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.image-container:hover .product-image {
    transform: scale(1.1);
    opacity: 0.9;
}