.carousel-indicators {
    position: static;
}

.carousel-indicators{
    margin-bottom: 20px;
}
.carousel-button{
    width: 100%!important;
    border: 1px solid #000;
    background: transparent;
    overflow: hidden;

    flex: 0 0 30%;
    height: 120px;
    margin: 5px;
}

@media (max-width: 768px) {
    .carousel-button {
        flex: 0 0 90px;
        height: 90px;
    }
}
@media (max-width: 480px) {
    .carousel-button {
        flex: 0 0 70px;
        height: 70px;
    }
}

.thumbnailGroup{
    align-items: center;

}