.aboutUs>p,.content-title{
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
}
.CEOcontent{
    font-family: 'Balsamiq Sans', cursive;
    word-spacing: 4px;
}
.content-title{
    font-size: 1.3rem;
}
.slogan{
    font-size: 2rem;
    padding: 0 1.5rem;
}
.CEO-container{
    width: 25%;
    height: 380px;
    overflow: hidden;
}
.CEOpicture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 38%;
}